h1 {
  font-family: arial, sans-serif;
  text-align: center;
}
p.center {
  text-align: center;
} 
button.pad {
  margin-left: 16px;
}
div.pad_left {
  margin-left: 16px;
}           
div.settings {
  font-family: arial, sans-serif;
  margin-left: 16px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:5px;
}
div.viewports {
  font-family: arial, sans-serif;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.center_text {
  text-align: center;
}

div.settings label       { text-align:right; }
div.settings input       { width:max-content; }
input.viewport             { width: 64px;}
